<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>

<div class="container mt-4">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="username">Endereço de E-mail:</label>
                    <input type="email" class="form-control" id="username" name="username" aria-describedby="emailHelp"
                           placeholder="Insira seu e-mail" required>
                    <small id="emailHelp" class="form-text text-muted">Nunca compartilharemos sua senha com ninguém</small>
                </div>
                <div class="form-group">
                    <label for="password">Senha:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Senha" required>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="admin" name="admin">
                    <label class="form-check-label" for="admin">Administrador</label>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Enviar</button>
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3">
                            <a th:href="@{/user_register}" class="btn btn-secondary mt-2">Registrar</a>
                        </div>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>
</html>
