body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa; /* Cor de fundo da página */
  color: #333; /* Cor do texto */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #007bff; /* Cor de fundo do cabeçalho */
  color: #fff; /* Cor do texto do cabeçalho */
}

.heading {
  font-size: 24px;
  font-weight: bold;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  border: 1px solid #dee2e6;
  padding: 12px;
  text-align: left;
}

.table th {
  background-color: #f8f9fa;
}

.text-box {
    max-width: 80%; /* Ajuste o valor conforme necessário */
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
